@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Fira Sans", sans-serif;
  background: #e9f0f7;
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.sidebar {
  width: 270px;
  display: block;
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  left: 0;
  top: 0;
  height: 100%;
  background: #fafcff;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.sidebar ul a {
  padding: 8px 34px 8px 24px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c6678;
}

.sidebar ul a:hover {
  color: #00a25f;
  background: #fff;
}

.sidebar .first {
  background: #edf2f9;
}

.sidebar li {
  position: relative;
  margin: 0px 0px 0px 0px;
}

.sidebar li.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #00a25f;
  right: 30px;
  top: 14px;
}

.sidebar .nav02 {
  margin: 30px 0px 112px 0px;
}

.sidebar .nav01 {
  margin: 80px 0px 0px 0px;
}

.sidebar .nav01 a {
  padding: 10px 34px 10px 24px;
  color: #000;
}

.sidebar .logo {
  z-index: 1;
  background: #fafcff;
  position: fixed;
  width: 270px;
  padding: 13px 20px;
}

.sidebar .logo span {
  margin: 10px 0px 0px 0px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #b6bcc6;
}

.sidebar .enter {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 270px;
}

.sidebar .enter .arws {
  width: 100%;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 24px;
}

.sidebar .enter a {
  position: relative;
  padding: 16px 20px;
  display: block;
  border-bottom: 1px solid #edf2f9;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.sidebar .enter a::after {
  content: "";
  position: absolute;
  right: 24px;
  top: 15px;
  width: 24px;
  height: 24px;
  background: url("../img/arrow01.svg") no-repeat;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.markets {
  z-index: 2;
  color: #b6bcc6;
  background: #fafcff;
  display: block;
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 270px;
  top: 0;
}

.markets .title {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.markets .meaning {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0px 0px 0px 30px;
}

.markets .meaning.top {
  position: relative;
}

.markets .meaning.top::before {
  content: "↑";
  position: absolute;
  left: -16px;
  top: 0;
}

.markets .meaning.bott {
  position: relative;
}

.markets .meaning.bott::before {
  content: "↓";
  position: absolute;
  left: -16px;
  top: 0;
}

.markets .value {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  margin: 0px 0px 0px 12px;
}

.markets .item {
  padding: 8px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.markets ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: marquee 25s linear infinite;
          animation: marquee 25s linear infinite;
}

.markets ul:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.news {
  position: fixed;
  width: 270px;
  height: 100%;
  right: 0;
  top: 36px;
  overflow: auto;
  scrollbar-width: none;
  background: #e0e8f1;
}

.news .category {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 2px 8px;
  border-radius: 15px;
}

.news .category.bg01 {
  background: #faff00;
}

.news .category.bg02 {
  background: #005ea2;
  color: #fff;
}

.news .category.bg03 {
  background: #00a25f;
  color: #fff;
}

.news .date {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #b6bcc6;
}

.news .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 222px;
  margin: 10px 0px 0px 0px;
}

.news a {
  max-width: 222px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news .item:hover {
  background: #fff;
}

.news .item:hover a {
  color: #00a25f;
}

.news .item:hover img {
  width: 240px;
  height: 170px;
}

.news .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .img {
  width: 270px;
  height: 170px;
  text-align: center;
  vertical-align: bottom;
}

.news img {
  width: 222px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.news::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main .banners {
  max-width: 228px;
}

.main .banners .item {
  cursor: pointer;
  padding: 24px;
}

.main .banners .item:hover {
  background: #fff;
}

.main .banners .item:hover h3 {
  color: #00824c;
}

.main .banners .item:hover p {
  color: #00824c;
}

.main .banners .item:hover img {
  width: 200px;
  margin-left: -100px;
}

.main .banners .item:hover .bg01 {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff703b), to(#f9bfa8));
  background: linear-gradient(180deg, #ff703b 0%, #f9bfa8 100%);
}

.main .banners .item:hover .bg02 {
  background: -webkit-gradient(linear, left top, left bottom, from(#b203f2), to(#ec88f8));
  background: linear-gradient(180deg, #b203f2 0%, #ec88f8 100%);
}

.main .banners .item:hover .bg03 {
  background: #b2e59e;
}

.main .banners .item:hover .bg04 {
  background: -webkit-gradient(linear, left bottom, left top, from(#80b7f7), to(#0157b8));
  background: linear-gradient(360deg, #80b7f7 0%, #0157b8 100%);
}

.main .banners h3 {
  margin: 8px 0px 4px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.main .banners p {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c6678;
}

.main .banners .img {
  width: 180px;
  height: 127px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .banners .img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -80px;
  width: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .banners .img.bg01 {
  background: #f9bfa8;
}

.main .banners .img.bg02 {
  background: #ec88f8;
}

.main .banners .img.bg03 {
  background: #b2e59e;
}

.main .banners .img.bg04 {
  background: #80b7f7;
}

.main .content .img img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .wrapper {
  padding: 36px 270px 0px 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
