@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Fira Sans", sans-serif;
  background: #e9f0f7;
}

.sidebar {
  width: 270px;
  display: block;
  position: fixed;
  overflow: auto;
  scrollbar-width: none;
  left: 0;
  top: 0;
  height: 100%;
  background: #fafcff;
  -webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.sidebar ul a {
  padding: 8px 34px 8px 24px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #5c6678;
}

.sidebar ul a:hover {
  color: #00a25f;
  background: #fff;
}

.sidebar .first {
  background: #edf2f9;
}

.sidebar li {
  position: relative;
  margin: 0px 0px 0px 0px;
}

.sidebar li.active::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #00a25f;
  right: 30px;
  top: 14px;
}

.sidebar .nav02 {
  margin: 30px 0px 112px 0px;
}

.sidebar .nav01 {
  margin: 80px 0px 0px 0px;
}

.sidebar .nav01 a {
  padding: 10px 34px 10px 24px;
  color: #000;
}

.sidebar .logo {
  z-index: 1;
  background: #fafcff;
  position: fixed;
  width: 270px;
  padding: 13px 20px;
}

.sidebar .logo span {
  margin: 10px 0px 0px 0px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #b6bcc6;
}

.sidebar .enter {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 270px;
}

.sidebar .enter a {
  padding: 16px 20px;
  display: block;
  border-bottom: 1px solid #edf2f9;
  margin: 0px 0px 56px 0px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
