@import "_nullstyle";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
   font-family: "Fira Sans", sans-serif;
   background: #e9f0f7;
}
@keyframes marquee {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-100%, 0);
   }
}

.sidebar {
   ul {
      a {
         padding: 8px 34px 8px 24px;
         display: block;
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         color: #5c6678;
         &:hover {
            color: #00a25f;
            background: #fff;
         }
      }
   }
   .first {
      background: #edf2f9;
   }

   li {
      position: relative;
      margin: 0px 0px 0px 0px;

      &.active {
         &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            background: #00a25f;
            right: 30px;
            top: 14px;
         }
      }
   }
   .nav02 {
      margin: 30px 0px 112px 0px;
   }
   .nav01 {
      a {
         padding: 10px 34px 10px 24px;
         color: #000;
      }
      margin: 80px 0px 0px 0px;
   }
   .logo {
      z-index: 1;
      background: #fafcff;
      position: fixed;
      width: 270px;
      padding: 13px 20px;
      span {
         margin: 10px 0px 0px 0px;
         display: block;
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         color: #b6bcc6;
      }
   }
   .enter {
      background: #fff;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 270px;

      .arws {
         width: 100%;
         height: 56px;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 0px 24px;
      }

      a {
         position: relative;
         padding: 16px 20px;
         display: block;
         border-bottom: 1px solid #edf2f9;
         //margin: 0px 0px 56px 0px;
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         color: #000000;
         &::after {
            content: "";
            position: absolute;
            right: 24px;
            top: 15px;
            width: 24px;
            height: 24px;
            background: url("../img/arrow01.svg") no-repeat;
         }
      }
   }

   width: 270px;
   display: block;
   position: fixed;
   overflow: auto;
   scrollbar-width: none;
   &::-webkit-scrollbar {
      width: 0;
      height: 0;
   }
   left: 0;
   top: 0;
   height: 100%;
   background: #fafcff;
   box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}
.markets {
   z-index: 2;
   .title {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
   }
   .meaning {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      margin: 0px 0px 0px 30px;
      &.top {
         position: relative;
         &::before {
            content: "↑";
            position: absolute;
            left: -16px;
            top: 0;
         }
      }
      &.bott {
         position: relative;
         &::before {
            content: "↓";
            position: absolute;
            left: -16px;
            top: 0;
         }
      }
   }
   .value {
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;
      margin: 0px 0px 0px 12px;
   }
   .item {
      padding: 8px 24px;
      display: flex;
      align-items: center;
   }
   ul {
      display: flex;
      gap: 12px;
      box-sizing: border-box;
      animation: marquee 25s linear infinite;
      &:hover {
         animation-play-state: paused;
      }
   }
   color: #b6bcc6;
   background: #fafcff;
   display: block;
   position: fixed;
   overflow: hidden;
   box-sizing: border-box;
   left: 270px;
   top: 0;
}
.news {
   .category {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      padding: 2px 8px;
      border-radius: 15px;
      &.bg01 {
         background: #faff00;
      }
      &.bg02 {
         background: #005ea2;
         color: #fff;
      }
      &.bg03 {
         background: #00a25f;
         color: #fff;
      }
   }
   .date {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #b6bcc6;
   }
   .info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 222px;
      margin: 10px 0px 0px 0px;
   }
   a {
      max-width: 222px;
      display: block;
      font-weight: 400;
      font-size: 15px;
      line-height: 20px;

      color: #000000;
      transition: 0.3s;
   }
   .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      //max-width: 222px;
      padding: 20px;
      transition: 0.3s;
      &:hover {
         background: #fff;
         a {
            color: #00a25f;
         }
         img {
            width: 240px;
            height: 170px;
         }
      }
   }
   .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      //gap: 20px;
   }
   .img {
      width: 270px;
      height: 170px;
      text-align: center;
      vertical-align: bottom;
   }
   img {
      width: 222px;
      height: 160px;
      object-fit: cover;
      transition: 0.3s;
   }
   position: fixed;
   width: 270px;
   height: 100%;
   right: 0;
   top: 36px;
   overflow: auto;
   scrollbar-width: none;
   &::-webkit-scrollbar {
      width: 0;
      height: 0;
   }
   background: #e0e8f1;
}
.main {
   .banners {
      max-width: 228px;

      .item {
         cursor: pointer;
         padding: 24px;
         &:hover {
            h3 {
               color: #00824c;
            }
            p {
               color: #00824c;
            }
            img {
               width: 200px;
               margin-left: -100px;
            }
            background: #fff;
            .bg01 {
               background: linear-gradient(180deg, #ff703b 0%, #f9bfa8 100%);
            }
            .bg02 {
               background: linear-gradient(180deg, #b203f2 0%, #ec88f8 100%);
            }
            .bg03 {
               background: #b2e59e;
            }
            .bg04 {
               background: linear-gradient(360deg, #80b7f7 0%, #0157b8 100%);
            }
         }
      }

      h3 {
         margin: 8px 0px 4px 0px;
         font-weight: 400;
         font-size: 20px;
         line-height: 30px;
         color: #000000;
      }
      p {
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         color: #5c6678;
      }
      .img {
         width: 180px;
         height: 127px;
         position: relative;
         transition: 0.3s;
         &:hover {
         }
         img {
            transition: 0.3s;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -80px;
            width: 160px;
            object-fit: cover;
         }
         &.bg01 {
            background: #f9bfa8;
         }
         &.bg02 {
            background: #ec88f8;
         }
         &.bg03 {
            background: #b2e59e;
         }
         &.bg04 {
            background: #80b7f7;
         }
      }
   }
   .content {
      .img {
         img {
            width: 40px;
            height: 40px;
            border-radius: 50px;
            object-fit: cover;
         }
      }
   }
   .wrapper {
      padding: 36px 270px 0px 270px;
      display: flex;
      justify-content: space-between;
   }
}
.content {
   .slider {
      .discrip {
         p {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
         }
         span {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            color: #ee6464;
         }
         h4 {
            margin: 0px 0px 10px 0px;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
         }
         padding: 0px 40px 24px;
      }
      .itm {
         text-align: center;

         span {
            margin: 16px 0px 0px 0px;
            display: block;
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
         }
      }
      .foot {
         display: flex;
         justify-content: space-around;
         padding: 24px 0px 20px 0px;

         .butt {
            color: #ffffff;
            padding: 16px 40px;
            background: #489f65;
            border-radius: 99px;
            transition: 0.3s;
            &:hover {
               background: #00824c;
               box-shadow: 0px 4px 40px rgba(2, 255, 26, 0.33), 0px -4px 24px rgba(249, 226, 78, 0.33);
            }
         }
      }
      .item {
         position: relative;
         .next {
            cursor: pointer;
            transform: rotate(180deg);
            right: -20px;
            top: 50%;
            margin-top: -20px;
            position: absolute;
            width: 40px;
            height: 40px;
         }
         .prew {
            cursor: pointer;
            left: -20px;
            top: 50%;
            margin-top: -20px;
            position: absolute;
            width: 40px;
            height: 40px;
         }
      }
      .head {
         padding: 8px 40px 16px;
         span {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #5c6678;
         }
         h2 {
            font-weight: 900;
            font-size: 24px;
            line-height: 40px;
         }
      }
      border-radius: 24px;
      background: #fafcff;
      padding: 24px 0px;
   }
   .img {
      display: flex;
      align-items: center;
   }
   .congratulations {
      .butt {
         max-width: 218px;
         display: block;
         margin: 0px auto 20px auto;
         background: #489f65;
         padding: 16px 40px;
         border-radius: 99px;
         font-weight: 700;
         font-size: 15px;
         line-height: 20px;
         text-align: center;
         color: #ffffff;
         transition: 0.3s;
         &:hover {
            background: #00824c;
            box-shadow: 0px 4px 40px rgba(2, 255, 26, 0.33), 0px -4px 24px rgba(249, 226, 78, 0.33);
         }
      }
      padding: 24px;
      background: #fafcff;
      border-radius: 24px;
      .subtitle {
         margin: 0px 0px 16px 0px;
      }
      span {
         display: block;
         font-weight: 400;
         font-size: 13px;
         line-height: 16px;
         /* identical to box height, or 123% */

         /* Text/main/Secondary */

         color: #5c6678;
      }
      .block {
         margin: 0px 0px 50px 0px;
      }
      .first {
         .item {
            .name {
               margin: 0px 0px 0px 16px;
               font-weight: 700;
               font-size: 15px;
               line-height: 20px;
            }
         }
      }

      .item {
         .img {
            height: 50px;
            .ava {
               width: 50px;
               height: 50px;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
         img {
            border: 1px solid #e05eac;
            transition: 0.3s;
            &:hover {
               width: 50px;
               height: 50px;
               box-shadow: 0px 0px 20px 5px #e05eac;
               border: none;
            }
         }
         span {
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: right;
            color: #000000;
         }
         padding: 6px 0px;
         .name {
            margin: 0px 0px 0px 16px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
         }
         display: flex;
         align-items: center;

         justify-content: space-between;
      }
      h2 {
         font-weight: 900;
         font-size: 24px;
         line-height: 40px;
         margin: 0px 0px 2px 0px;
      }
   }
   .quote {
      span {
         margin: 24px 0px 0px 0px;
         display: block;
         font-weight: 400;
         font-size: 13px;
         line-height: 16px;
         text-align: right;
         color: #489f65;
      }
      h3 {
         margin: 0px 0px 20px 0px;
         font-weight: 900;
         font-size: 24px;
         line-height: 40px;
         text-align: center;
         color: #ffffff;
         text-shadow: 1px 1px 0px rgba(23, 129, 40, 0.51);
      }
      h2 {
         font-style: italic;
         font-weight: 400;
         font-size: 15px;
         line-height: 17px;
         text-align: center;
      }
      padding: 40px 40px 16px;
      background: radial-gradient(100% 1587.72% at 0% 100%, #52ff00 0%, #ebff00 100%);
      border-radius: 16px;
   }
   .date {
      h2 {
         font-weight: 400;
         font-size: 36px;
         line-height: 48px;
         color: #000000;
      }
      span {
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         /* identical to box height, or 133% */

         /* Text/main/Tertiary */

         color: #b6bcc6;
      }
   }
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   gap: 64px;

   .date {
      padding: 8px 40px 24px;

      background: #fafcff;
      border-radius: 0px 0px 24px 24px;
   }
   section {
      width: 518px;
      //margin: 0px 0px 64px 0px;
   }
}
@media (max-width: 730px) {
   .main .banners {
      display: none;
   }
}
@media (max-width: 1270px) {
   .main .wrapper {
      padding: 0px 0px 0px 0px;
   }
   .sidebar,
   .markets,
   .news {
      display: none;
   }
}
